#u425
{
	background-color: #2D2A31;
}

#u425_align_to_page
{
	position: relative;
}

#u427-4
{
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	text-transform: uppercase;
	color: #F5F5F5;
	font-size: 14px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u426-4,#u428-4
{
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	color: #F5F5F5;
	font-size: 14px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u429-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u434-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u436-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u431-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u440-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u437-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u432-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u611-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u438-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u433-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u439-4
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u429-4:hover p,#u434-4:hover p,#u436-4:hover p,#u431-4:hover p,#u440-4:hover p,#u437-4:hover p,#u432-4:hover p,#u611-4:hover p,#u438-4:hover p,#u433-4:hover p,#u439-4:hover p
{
	color: #B16333;
	visibility: inherit;
}

#u441-6
{
	background-color: transparent;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u441-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u441-2
{
	font-size: 20px;
	color: #B16333;
	line-height: 24px;
}

#u441,#u441-3
{
	line-height: 16px;
}

