#u540-4
{
	font-family: viga-n4, sans-serif;
}

#u584-4
{
	font-family: asap-n7, sans-serif;
}

#u519-4,#u520-4,#u521-4
{
	font-family: asap-n7, sans-serif;
}

#u522-4
{
	font-family: asap-n4, sans-serif;
}

#u535-4
{
	font-family: asap-n4, sans-serif;
}

#u528-4
{
	font-family: asap-n4, sans-serif;
}

#u523-4
{
	font-family: asap-n4, sans-serif;
}

#u532-4
{
	font-family: asap-n4, sans-serif;
}

#u529-4
{
	font-family: asap-n4, sans-serif;
}

#u524-4
{
	font-family: asap-n4, sans-serif;
}

#u612-4
{
	font-family: asap-n4, sans-serif;
}

#u530-4
{
	font-family: asap-n4, sans-serif;
}

#u525-4
{
	font-family: asap-n4, sans-serif;
}

#u531-4
{
	font-family: asap-n4, sans-serif;
}

#u533-6
{
	font-family: asap-n4, sans-serif;
}

#u588-4
{
	font-family: quicksand-n7, sans-serif;
}

#u590-4,#u637-4
{
	font-family: montserrat-n4, sans-serif;
}

#u591-2,#u591-3,#u638-2,#u638-3
{
	font-family: muli-n3, sans-serif;
}

#u591-5,#u638-4
{
	font-family: muli-n4, sans-serif;
}

