#u540-4
{
	font-family: viga-n4, sans-serif;
}

#u584-4
{
	font-family: asap-n7, sans-serif;
}

#u519-4,#u520-4,#u521-4
{
	font-family: asap-n7, sans-serif;
}

#u522-4
{
	font-family: asap-n4, sans-serif;
}

#u535-4
{
	font-family: asap-n4, sans-serif;
}

#u528-4
{
	font-family: asap-n4, sans-serif;
}

#u523-4
{
	font-family: asap-n4, sans-serif;
}

#u532-4
{
	font-family: asap-n4, sans-serif;
}

#u529-4
{
	font-family: asap-n4, sans-serif;
}

#u524-4
{
	font-family: asap-n4, sans-serif;
}

#u612-4
{
	font-family: asap-n4, sans-serif;
}

#u530-4
{
	font-family: asap-n4, sans-serif;
}

#u525-4
{
	font-family: asap-n4, sans-serif;
}

#u531-4
{
	font-family: asap-n4, sans-serif;
}

#u533-6
{
	font-family: asap-n4, sans-serif;
}

#u585-11
{
	font-family: quicksand-n7, sans-serif;
}

#u586-4
{
	font-family: asap-n7, sans-serif;
}

#u587-4
{
	font-family: open-sans-n4, sans-serif;
}

