#u518
{
	background-color: #2D2A31;
}

#u540-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	letter-spacing: 3px;
	line-height: 36px;
	text-align: left;
	font-family: viga, sans-serif;
	font-weight: 400;
	position: relative;
}

#u540-4:hover p
{
	color: #F3F3F3;
	visibility: inherit;
}

#u540-2
{
	padding-top: 7px;
}

#u584-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: transparent;
	border-radius: 2px;
	color: #F5F5F5;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u584-4:hover
{
	background-color: #F5F5F5;
}

#u584-2
{
	padding-top: 6px;
}

#u541
{
	background-color: #FFFFFF;
}

#u518_align_to_page,#u541_align_to_page
{
	position: relative;
}

#u520-4
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	text-transform: uppercase;
	color: #2A272D;
	font-size: 14px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u519-4,#u521-4
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #2A272D;
	font-size: 14px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u521-4:hover p
{
	color: #2A272D;
	visibility: inherit;
}

#u522-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u535-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u528-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u528-4:hover p
{
	color: #35465C;
	visibility: inherit;
}

#u523-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u532-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u529-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u529-4:hover p
{
	color: #55ACEE;
	visibility: inherit;
}

#u524-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u612-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u530-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u530-4:hover p
{
	color: #3B5998;
	visibility: inherit;
}

#u525-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u584-4:hover p,#u584-4:hover h3,#u522-4:hover p,#u535-4:hover p,#u523-4:hover p,#u532-4:hover p,#u524-4:hover p,#u612-4:hover p,#u525-4:hover p
{
	color: #7323DC;
	visibility: inherit;
}

#u531-4
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u531-4:hover p
{
	color: #3F729B;
	visibility: inherit;
}

#u533-6
{
	background-color: transparent;
	color: #2A272D;
	line-height: 16px;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u533-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u533-2
{
	font-size: 20px;
	color: #7323DC;
	line-height: 24px;
}

#u533,#u533-3
{
	line-height: 16px;
}

